/memory-bank/
/.idea/
/.vs/
/bin/
/obj/
/src/Services/Domovoy.DeviceService/bin/
/src/Services/Domovoy.DeviceService/obj/
/src/Services/Domovoy.LightService/bin/
/src/Services/Domovoy.LightService/obj/
/src/Services/Domovoy.SensorService/bin/
/src/Services/Domovoy.SensorService/obj/
/src/Common/Domovoy.Common/bin/
/src/Common/Domovoy.Common/obj/
/src/Common/Domovoy.MessageBus/bin/
/src/Common/Domovoy.MessageBus/obj/
/src/Gateway/Domovoy.DbGateway/bin/
/src/Gateway/Domovoy.DbGateway/obj/
/src/Gateway/Domovoy.ApiGateway/bin/
/src/Gateway/Domovoy.ApiGateway/obj/
